* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.containerSections {
    width: 100%;
    height: 100%;
    /* height: 500px; */
    display: flex;
}

.sectionLeft {
    background-image: url("https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png");
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionRight {
    background-color: black;
    width: 45%;
}

.logoContainer img {
    width: 43px;
    height: 43px;
}

.logoContainer {
    margin: 25% 10% 8% 7%;
}

.titleContainer h1 {
    font-size: 64px;
    overflow-wrap: break-word;
}

.subtitleContainer h3 {
    font-size: 28px;
}

h1,
h3 {
    color: #fff;
    margin-left: 7%;
    margin-bottom: 5%;
    font-weight: bold;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 9px;
}

button {
    margin: 2% 7%;
    width: 380px;
    height: 52px;
    border-radius: 25px;
    font-size: 20px;
}

#btnRegister {
    background-color: #1a8cd8;
    color: #fff;
    border: 0;
}

#btnLogin {
    background-color: transparent;
    color: #1a8cd8;
    border: 1px solid #51606d;
}

.footer {
    background-color: black;
    height: auto;
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer a,
span {
    text-decoration: none;
    color: #51606d;
    margin: 4px 0;
    padding: 0 16px 0 0;
}